# Azure Event Hubs
EVENTHUB_CONNECTION_STRING=your_connection_string_here
EVENTHUB_NAME=user-events

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=your_connection_string_here
AZURE_STORAGE_CONTAINER=datasets

# Azure Container Registry
ACR_LOGIN_SERVER=yourregistry.azurecr.io
ACR_USERNAME=your_username
ACR_PASSWORD=your_password

# Redis
REDIS_HOST=your_vm_ip
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# API
API_PORT=8000
TOP_N_RECOMMENDATIONS=10